.post-type-stream .tablenav {
	padding-top: 6px;
}

.post-type-stream .tablenav .actions {
	padding: 0;
}

.post-type-stream .view-switch {
	display: none;
}

.post-type-stream .column-full_date {
	width: 10%;
}

.post-type-stream .column-user,
.post-type-stream .column-taxonomy-stream_action,
.post-type-stream .column-taxonomy-stream_context,
.post-type-stream .column-ip {
	width: 15%;
}

.post-type-stream td.summary strong {
	display: block;
	margin-bottom: .2em;
	font-size: 14px;
}

.post-type-stream .column-user img {
	float: left;
	margin-right: 10px;
	margin-top: 1px;
}
