.env
.idea
.DS_Store
/node_modules/
/vendor/
/build/
/dist/
/console.log
/phpcs.xml
/stream.zip
/stream-*.zip
npm-debug.log
debug.log
package.lock
.phpunit.result.cache

# Compiled files
ui/js/*.min.js
ui/css/*.min.css
alerts/js/*.min.js
