<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	verbose="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	>
	<coverage processUncoveredFiles="true">
	<include>
		<directory prefix="class-" suffix=".php">alerts</directory>
		<directory prefix="class-" suffix=".php">classes</directory>
		<directory prefix="class-" suffix=".php">connectors</directory>
		<directory prefix="class-" suffix=".php">exporters</directory>
		<directory prefix="class-" suffix=".php">includes</directory>
	</include>
	<exclude>
		<file>classes/class-cli.php</file>
		<directory>includes/lib</directory>
	</exclude>
	<report>
		<clover outputFile="tests/reports/clover.xml"/>
	</report>
	</coverage>
	<php>
	<const name="WP_TEST_ACTIVATED_PLUGINS" value="advanced-custom-fields/acf.php,easy-digital-downloads/easy-digital-downloads.php,jetpack/jetpack.php,user-switching/user-switching.php,wordpress-seo/wp-seo.php,two-factor/two-factor.php"/>
	</php>
	<testsuites>
	<testsuite name="stream">
		<directory prefix="test-" suffix=".php">tests</directory>
	</testsuite>
	</testsuites>
	<logging/>
</phpunit>
