<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for WP Stream Tests">
	<config name="ignore_warnings_on_exit" value="1" /><!-- FIXME -->

	<arg name="extensions" value="php" />
	<arg name="colors" />
	<arg value="sp" /><!-- Show sniff codes in all reports and progress. -->

	<rule ref="PHPCompatibilityWP" />
	<config name="testVersion" value="8.1-" />

	<rule ref="WordPress-Docs">
		<type>warning</type><!-- FIXME Report but ignore for now. -->
	</rule>

	<rule ref="WordPress-Extra" />

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment" />
	</rule>

	<rule ref="Squiz.Commenting">
		<exclude name="Squiz.Commenting.FileComment.Missing" />
		<exclude name="Squiz.Commenting.ClassComment.Missing" />
		<exclude name="Squiz.Commenting.FunctionComment.Missing" />
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment" />
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar" />
		<exclude name="Squiz.Commenting.VariableComment.Missing" />
	</rule>

	<rule ref="Generic.CodeAnalysis">
		<exclude name="Generic.CodeAnalysis.EmptyStatement.DetectedCatch" />
	</rule>
</ruleset>
