@font-face {
	font-family: 'WP Stream';
	src:url('font/stream.eot');
	src:url('font/stream.eot?#iefix') format('embedded-opentype'),
		url('font/stream.ttf') format('truetype'),
		url('font/stream.woff') format('woff'),
		url('font/stream.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-stream:before {
	content: "\73";
}
