.edit-php.post-type-wp_stream_alerts .inline-edit-col,
.edit-php.post-type-wp_stream_alerts .widefat .inline-edit-col,
.edit-php.post-type-wp_stream_alerts .widefat p {
	color: #444;
	font-size: 12px;
	display: block;
	margin: .2em 0;
	line-height: 2.5
}

.edit-php.post-type-wp_stream_alerts .inline-edit-col .select2-container {
	display: block;
}


.edit-php.post-type-wp_stream_alerts .misc-pub-section.misc-pub-post-status,
.edit-php.post-type-wp_stream_alerts #misc-publishing-actions {
	padding: 0;
}

@media ( min-width: 781px ) {
	.wp-stream-show-mobile {
		display: none;
	}
	.edit-php.post-type-wp_stream_alerts .inline-edit-col.inline-edit-wp_stream_alerts {
		float: left;
		width: 100%;
		max-width: 20%
	}
}

.edit-php.post-type-wp_stream_alerts .select2 .select2-selection {
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
}
.edit-php.post-type-wp_stream_alerts label {
    font-style: italic;
}
.edit-php.post-type-wp_stream_alerts select {
    width: auto;
}
.edit-php.post-type-wp_stream_alerts span.select2-selection__rendered {
    font-style: normal;
}

#add-new-alert.inline-edit-row.inline-edit-row-page .inline-edit-col-right {
    margin-top: 32px;
}
.edit-php.post-type-wp_stream_alerts #add-new-alert .select2.select2-container {
	display: block;
}
.edit-php.post-type-wp_stream_alerts #add-new-alert .inline-edit-add-new-notifications,
.edit-php.post-type-wp_stream_alerts #add-new-alert .inline-edit-add-new-status {
	margin-top: 33px;
}
