/* Stream Connect Button */

.stream-button {
	display: inline-block;
	position: relative;
	padding: 0.6em 0.8em !important;
	font-size: 1.5em;
	font-weight: 600;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	letter-spacing: -1px;
	border-radius: 6px;
	background-color: #e14d43;
	border-bottom: 4px solid #b63f37;
	color: #fff;

	-webkit-transition: all 0.1s ease-in;
	   -moz-transition: all 0.1s ease-in;
	     -o-transition: all 0.1s ease-in;
	        transition: all 0.1s ease-in;

	 -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.stream-button:hover {
	color: #fff;
	background: #ef5c52;
}

.stream-button:focus {
	color: #fff;
}

.stream-button:active {
	margin-bottom: 3px !important;
	border-bottom: 1px solid;
	color: #fff;

	-webkit-transform: translate(0px, 5px);
	   -moz-transform: translate(0px, 5px);
	     -o-transform: translate(0px, 5px);
	        transform: translate(0px, 5px);
}

i.stream-icon:before {
	font-family: 'WP Stream' !important;
	content: '\73' !important;
}

i.stream-icon {
	display: inline-block;
	font-size: 1em;
	font-style: normal;
	color: #fff;

	-webkit-transition: color 0.1s ease-in 0;
	   -moz-transition: color 0.1s ease-in 0;
	     -o-transition: color 0.1s ease-in 0;
	        transition: color 0.1s ease-in 0;
}

.stream-button i.stream-icon {
	margin-right: 0.4em;
}


/* Stream Connect Screen */

#wp-stream-connect {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font: 300 1.5em 'Open Sans', Helvetica, sans-serif;
	color: #616161;

	 -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#wp-stream-connect .wrap {
	width: 100%;
	margin: 0;
	padding: 4em 0;
}

#wp-stream-connect .stream-button {
	padding: 0.4em 0.8em 0.3em !important;
	font-size: 1.8em;
	font-weight: 400;
}

#wp-stream-connect .stream-connect-container p {
	margin: 10px 0;
	font-size: 1em;
}

#wp-stream-connect .stream-connect-container,
#wp-stream-connect .stream-quotes-container {
	width: 100%;
	max-width: 840px;
	margin: 0 auto;
}

#wp-stream-connect .stream-quotes-container p {
	margin: 0.5em 0;
	font-size: 1.8em;
	line-height: 1.4em;
}

#wp-stream-connect .stream-quotes-container a {
	text-decoration: none;
}

#wp-stream-connect .stream-quotes-container a:hover {
	border-bottom: 1px dotted;
}

#wp-stream-connect p.stream-quote {
	padding: 1em 1em 0.2em;
}

#wp-stream-connect p.stream-quote-author {
	font-size: 1em;
}


/* Stream Tooltip */

.wp-stream-tooltip-text {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
	cursor: help;
}

.wp-stream-tooltip {
	position: absolute;
	display: none;
	max-width: 30em;
	padding: 1em;
	margin-left: -1em;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	z-index: 10;
	cursor: default;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
}

/* Stream Notice Box */

#stream-message #stream-dismiss {
	float: right;
	margin: 8px 8px 0 0;
}

#stream-message #stream-dismiss a {
	color: #aaa;
}

#stream-message #stream-dismiss a:hover {
	color: #777;
}

#stream-message.stream-connect {
	border-left: 4px solid #e14d43;
}

#stream-message .stream-message-container {
	padding: 0 8px;
}

#stream-message .stream-button-container {
	display: inline-block;
	margin: 20px 20px 0 0;
	vertical-align: top;
}

#stream-message .stream-message-text {
	display: inline-block;
	width: calc(100% - 285px);
	margin: 22px 0 12px;
}

#stream-message .stream-message-text h4 {
	font-size: 1.7em;
	font-weight: 400;
	margin: 0;
}

#stream-message .stream-message-text p {
	color: #616161;
}


/* Mobile */

@media all and (max-width: 782px) {
	#wp-stream-connect .stream-button,
	#wp-stream-connect .stream-quotes-container p {
		font-size: 1.4em;
	}

	#wp-stream-connect p.stream-quote-author {
		font-size: 0.8em;
	}

	#stream-message .stream-message-text {
		width: 100%;
	}
}
