#dashboard_stream_activity.postbox h3 {
	border-bottom: 0;
}

#dashboard_stream_activity.postbox .inside,
#dashboard_stream_activity ul,
#dashboard_stream_activity ul li {
	margin: 0;
	padding: 0;
}

#dashboard_stream_activity .dashboard-widget-control-form,
#dashboard_stream_activity .no-records {
	padding: 1em 12px;
}

#dashboard_stream_activity ul li,
#dashboard_stream_activity .sub-links {
	padding: 1em 12px;

	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.06);
	        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.06);
}

#dashboard_stream_activity .record-avatar {
	float: left;
	margin-right: 10px;
}

#dashboard_stream_activity .record-avatar a {
	display: block;
}

#dashboard_stream_activity .record-avatar img {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

#dashboard_stream_activity .record-meta {
	color: #666;
}

#dashboard_stream_activity .sub-links {
	padding: 12px;
}

.toplevel_page_wp_stream .tablenav {
	padding-top: 6px;
}

.toplevel_page_wp_stream .tablenav .actions {
	padding: 0;
	overflow: visible;
}

.toplevel_page_wp_stream .chosen-container-single {
	margin-top: 3px;
	margin-right: 6px;
}

.toplevel_page_wp_stream .view-switch {
	display: none;
}

.toplevel_page_wp_stream #filter-date-range {
	float: left;
	margin-right: 6px;
}

.toplevel_page_wp_stream .column-author {
	width: 15%;
}

.toplevel_page_wp_stream .column-date,
.toplevel_page_wp_stream .column-context,
.toplevel_page_wp_stream .column-action,
.toplevel_page_wp_stream .column-connector,
.toplevel_page_wp_stream .column-ip,
.toplevel_page_wp_stream .column-id {
	width: 10%;
}

@media only screen and (max-width: 900px) {
	.toplevel_page_wp_stream .fixed .column-context,
	.toplevel_page_wp_stream .fixed .column-action,
	.toplevel_page_wp_stream .fixed .column-connector,
	.toplevel_page_wp_stream .fixed .column-ip,
	.toplevel_page_wp_stream .fixed .column-id {
		display: none;
	}
	.toplevel_page_wp_stream .fixed .column-date,
	.toplevel_page_wp_stream .fixed .column-author {
		display: table-cell;
	}
	.toplevel_page_wp_stream .fixed .column-date {
		width: 100px;
	}
	.toplevel_page_wp_stream .fixed .column-author {
		width: 33%;
	}
}

@media only screen and (max-width: 480px) {
	.toplevel_page_wp_stream .fixed .column-author {
		display: none;
	}
}

.toplevel_page_wp_stream .column-author a {
	vertical-align : top;
}

.toplevel_page_wp_stream .column-author img {
	float: left;
	margin-right: 10px;
	margin-top: 1px;

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.toplevel_page_wp_stream .filter-date-range {
	margin-top: -1px;
}

.toplevel_page_wp_stream .alignleft.actions input[type=text] {
	height: 27px;
}

.toplevel_page_wp_stream .select2-container {
	margin-right: 6px;
	margin-bottom: 6px;
}

.toplevel_page_wp_stream .select2-results li {
	margin-bottom: 1px;
}

.toplevel_page_wp_stream .select2-results .select2-disabled {
	background: transparent;
	color: #aaa;
}

.toplevel_page_wp_stream .select2-container.select2-allowclear .select2-choice abbr {
	margin-top: -2px;
}

/* Live Update */
.toplevel_page_wp_stream .stream-live-update-checkbox .spinner {
	margin-top: 5px;
}

.toplevel_page_wp_stream .new-row {
	background-color: #ffffe0;

	-webkit-transition: background 0.5s linear;
	   -moz-transition: background 0.5s linear;
	    -ms-transition: background 0.5s linear;
	     -o-transition: background 0.5s linear;
	        transition: background 0.5s linear;
}

.toplevel_page_wp_stream .new-row.fadeout {
	background-color: transparent;
}
