#dashboard_stream_activity.postbox h3 {
	border-bottom: 0;
}

#dashboard_stream_activity.postbox .inside,
#dashboard_stream_activity ul,
#dashboard_stream_activity ul li {
	margin: 0;
	padding: 0;
}

#dashboard_stream_activity .dashboard-widget-control-form,
#dashboard_stream_activity .no-records {
	padding: 1em 12px;
}

#dashboard_stream_activity ul li {
	padding: 1em 12px;

	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.06);
	        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.06);
}

#dashboard_stream_activity .record-avatar {
	float: left;
	margin-right: 10px;
}

#dashboard_stream_activity .record-avatar a {
	display: block;
}

#dashboard_stream_activity .record-avatar img {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

#dashboard_stream_activity .record-meta {
	color: #666;
}

.toplevel_page_wp_stream .tablenav {
	padding-top: 6px;
}

.toplevel_page_wp_stream .tablenav .actions {
	padding: 0;
	overflow: visible;
}

.toplevel_page_wp_stream .chosen-container-single {
	margin-top: 3px;
	margin-right: 6px;
}

.toplevel_page_wp_stream .view-switch {
	display: none;
}

.toplevel_page_wp_stream #filter-date-range {
	float: left;
	margin-right: 6px;
}

.toplevel_page_wp_stream .column-author {
	width: 15%;
}

.toplevel_page_wp_stream .column-date,
.toplevel_page_wp_stream .column-context,
.toplevel_page_wp_stream .column-action,
.toplevel_page_wp_stream .column-connector,
.toplevel_page_wp_stream .column-ip,
.toplevel_page_wp_stream .column-id {
	width: 10%;
}

.toplevel_page_wp_stream .column-author a {
	vertical-align : top;
}

.toplevel_page_wp_stream .column-author img {
	float: left;
	margin-right: 10px;
	margin-top: 1px;

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.alignleft.actions input[type=text] {
	height: 28px;
}
