name: Build and Publish Docker Images

on:
  push:
    paths:
      - '.github/workflows/**'
      - 'docker-compose.yml'
      - 'docker-compose.build.yml'
      - 'local/docker/**'

jobs:

  build-and-push-image:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build images
        run: docker compose --file docker-compose.build.yml build

      - name: Publish images
        if: contains( github.ref_name, 'master' )
        run: docker buildx bake --file docker-compose.build.yml --push --set '*.platform=linux/amd64,linux/arm64'
